<section class="col-lg-10 col-md-10 col-sm-10">
<p>Toronto Signs is a Sira Print company.
We specialize in printing on any smooth surface up to 1.9" thick and up to 48" (high)  x 96" (wide). This makes us unique because we print directly on the substrate. In addition to this unique service, we offer conventional sign printing such as clings, banners, posters, canvas etc..</p>
<p>Nothing satisfies us more, then exceeding customer's expectations. we strive for change, new ideas, new technology and value to pass to our customers.</p>
</section>