
<div class="col-lg-6">
  <div class="contact-address">
    <p>
      <strong>
        401 Magnetic Drive, unit 37<br/>
        North York, ON M3J 3H9
      </strong>
    </p>
    <p>
      <strong>
        info@siraprint.ca
        <br/>
        416.648.9265
      </strong>
    </p>
  </div>

  <div class="contact-form">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="input-name" class="col-sm-3 control-label">Full Name:</label>
        <div class="col-sm-9">
          <input class="form-control" id="input-name" placeholder="Full Name" type="name">
        </div>
      </div>
      <div class="form-group">
        <label for="input-email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input class="form-control" id="input-email" placeholder="Email" type="email">
        </div>
      </div>
      <div class="form-group">
        <label for="input-company" class="col-sm-3 control-label">Company</label>
        <div class="col-sm-9">
          <input class="form-control" id="input-company" placeholder="Company" type="company">
        </div>
      </div>

      <div class="form-group">
        <label for="input-comment" class="col-sm-3 control-label">Comment</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="input-comment" type="comment"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default">Contact Us</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-lg-6">

</div>
