.after-sign-up
  .alert.alert-warning
    Welcome!
    %br 
    Thank You for regsitrating with Sira Print. You're account information has been recieved and is waiting for approvel. One of our account adminstrator will approve your account with in the next 24 hours.