.delivery_info
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading
          %h3.panel-title Delivery Info
        .panel-body
          
    .col-lg-4 
      .panel.panel-default
        .panel-heading
          %h3.panel-title Cart Summry
        .panel-body
          