.container
  .panel.panel-danger
    .panel-body.failure-text
      %span.glyphicon.glyphicon-ban-circle{"aria-hidden" => "true"}
      = "Something went terribly Wrong. You're order ##{@order.order_id} did not go through please try paying for your order again!"  