.container
  .panel.panel-success
    .panel-body.success-text
      %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true"} 
      = "Thank you for shopping with Sira Print. You're order ##{@order.order_id} has been placed and will be process within the next 24 hours!"  