.product-item  
  = link_to(show_metal_sign_path(:id => metal_sign.id)) do
    .product-image
      .overlay
        %span View Details
      = image_tag metal_sign.display_image_file_name.url()

  .product-item-details
    = metal_sign.name