.product-item  
  = link_to(metal_sign_path(metal_sign)) do
    .product-image
      .overlay
        %span View Details
      = image_tag metal_sign.display_image.url()

  .product-item-details
    = metal_sign.name