%h3 Step 3: Select Your Thickness
= select("order", "[details]thickness_id", thicknesses.collect {|t| [ "#{t.thickness}#{t.unit}", t.id ] }, {include_blank: 'Please select your thickness'}, class: "thickness-selection form-control")