.product-item  
  = link_to(show_lcd_path(:id => lcd.id)) do
    .product-image
      .overlay
        %span View Details
      = image_tag lcd.display_image_file_name.url()

  .product-item-details
    = lcd.name
    