.product-item  
  = link_to(show_plastic_card_path(:name => plastic_card.name.downcase.tr(' ', '_'), :id => plastic_card.id)) do
    .product-image
      .overlay
        %span View Details
      = image_tag plastic_card.display_image_file_name.url()

  .product-item-details
    = plastic_card.name