// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// General Styles

.group:after {
  content: "";
  display: table;  
  clear: both;
}

.w25 {
  display: inline-block;
  width: 25%;
  margin-bottom: 20px;
}

.link_button {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  margin-left: 10px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: #838a90;
  background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef !important;
  text-decoration: none !important;
  cursor: pointer;
}

.link_button:hover {
  background: #8b9297;
  background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  text-decoration: none;
}

.btn-group {
  margin-left: 10px;
  margin-right: 20px;
}

.btn-group .grouped-button {
  margin-right: 0;
  margin-left: 0;
  float: left;
}
.btn-group>.grouped-button:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group>.grouped-button:not(:first-child):not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group>.grouped-button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

// Status Tag Colors

.status_tag.open {
  background-color: #31AAF2;
}

.status_tag.cancel {
  background-color: #FC4949;
}

// TinyMce Fix
.mce-tinymce {
  margin-left: 20% !important;
}

// Form Style

.selection {
  width: calc(80% - 22px);
  border: 1px solid #c9d0d6;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;  
  border-radius: 3px !important;
  font-size: 0.95em;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  line-height: 1em;
  padding: 8px 10px 7px !important;
}

// Large Format

.display-image {
  max-width: 400px;
}

.large_format_thicknesses > fieldset > ol > li.boolean label{
  padding-left: 0 !important;
}

.tier-sets {
  display: inline-block;
  background-color: #fff !important;
  width: 23%;
  min-height: 250px;
  margin-right: 10px !important;
}

.thickness-set {
  display: inline-block;
  width: 30%;
  margin-right: 15px;
  margin-bottom: 20px;
  border: 1px solid #AAA;
  padding: 10px;
  border-radius: 4px;
}

.large_format_tiers a.has_many_add {
  display: block !important;
  width: 150px;
}

.add-thickness {
  display: block !important;
  width: 90px;
  margin-left: 0px;
}

.large-format-left, .large-format-right,
.metal-sign-left, .metal-sign-right  {
  display: block;
}

.large-format-left, .metal-sign-left {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.large-format-right, .metal-sign-right {
  width: 57%;
  float: right;
}

// Item List
.item-list table td img {
  width: 50%;
}

// Slider Images

.slides .slide_item {
  display: inline-block;
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 10px;
  max-height: 250px;
  margin-right: 20px;
  margin-bottom: 35px;
  text-align: center;
}

.slides .slide_item img {
  max-width:  130px;
}

.slides-upload {
  display: block;
  text-align: center;
  height: 150px;
  border: 2px dashed #AAA;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  vertical-align: middle;
}

.slides-upload p {
  margin: 15px 30px;
  line-height: 1.2em;
  font-size: 21px;
  font-weight: 900;
}

.finishing_select {
  display: block;
  padding: 15px;
  margin: 20px 0;
}

.finishing_select input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}

.finishing_select label {
  display: inline-block;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #AAA;
}

.finishing_select label:hover {
  border: 2px solid #209EC8; 
}

.finishing_select input[type=checkbox]:checked + label {
  border: 2px solid #209EC8; 
  -webkit-box-shadow: 7px 10px 6px -6px #777777;
  -moz-box-shadow: 7px 10px 6px -6px #777777;
  box-shadow: 7px 10px 6px -6px #777777;
}

//  Firefox fix
@-moz-document url-prefix() {
    .link_button {
      padding: 8px 16px 7px;
    }
}