.product-item  
  = link_to(large_format_path(large_format), class: "product-item ") do
    .product-image
      .overlay
        %span View Details
      = image_tag large_format.display_image.url()

  .product-details
    = large_format.name
    