.product-item  
  = link_to(large_format_path(large_format)) do
    .product-image
      .overlay
        %span View Details
      = image_tag large_format.display_image_file_name.url()

  .product-item-details
    = large_format.name
    