.product-item  
  = link_to(show_large_format_path(:id => large_format.id)) do
    .product-image
      .overlay
        %span View Details
      = image_tag large_format.display_image_file_name.url()

  .product-item-details
    = large_format.name
    