.clearfix{id: 'footer'}
  .container-fluid
    .footer-nav
      %ul
        %li
          = link_to("Private Policy", private_policy_path)
          |
        %li
          = link_to("Terms of Use", terms_of_use_path) 

    .copyright
      \&#169; 2016
      %a{href: "#"} Sira Print Inc.