%div{id: 'footer'}
  .footer-nav
    %ul
      %li
        = link_to("About", "#")
        |
      %li
        = link_to("Contact", "#") 
        |
      %li Private Policy
  
  .copyright
    \&#169; 2014 - 2015
    %a{href: "#"} Sira Print Inc.